body {
  font-family: sans-serif;
}

#grid {
  display: flex;
  flex-wrap: wrap;
}

.employee {
  margin: 1rem;
  width: 200px;
  background-color: #b3e8e9;
  border: 2px solid #fef6de;
  text-align: center;
  font-size: 1.75rem;
  padding: 1.5rem;
}

.fav-employee {
  background-color: #fef6de;
  border: 2px solid #b3e8e9;
}

span {
  padding: 0 0.5rem;
  margin-left: 0.75rem;
}
